<div class="row">
  <div class="col-12">
    <div class="formContainer mx-2">

   <!-- Header -->
<div class="row">
  <div class="col-12">
    <div class="header d-flex justify-content-between ">
   <p class="mx-2">Purchase Order</p>
  <div class="d-flex gap-3 my-2">
  <i class="fa-solid fa-arrow-up-right-from-square" style="color: white;"></i>
  <i class="fa-solid fa-bars" style="color: white;"></i>
  <i class="fa-solid fa-minus mx-2" style="color: white;"></i>
</div>
    </div>
  </div>
</div>
<!-- ICON BAR -->
<div class="iconBar">
  <div class="row">
    <div class="col-12 d-flex my-2">
    <div class="mx-2">  <i class="fa-regular fa-file-excel" style="color: #BAB9B7;"></i> New  </div>
   <div  class="mx-2"> <i class="fa-regular fa-floppy-disk" style="color: #5B9CD5;"></i> Save  </div>
    <div  class="mx-2"> <i class="fa-solid fa-pencil"style="color: #BAB9B7;"></i> Edit         </div>
    <div  class="mx-2"> <i class="fa-regular fa-trash-can" style="color: #BAB9B7;"></i> Delete  </div> 
   <div  class="mx-2"> <i class="fa-solid fa-rotate-left" style="color: #A81212;"></i> Cancel    </div> 
   <div  class="mx-2"> <i class="fa-solid fa-magnifying-glass" style="color: #5B9CD5;"></i> Search </div>
    <div  class="mx-2"> <i class="fa-solid fa-arrow-up-from-bracket" style="color: #BAB9B7;"></i> Export  </div>
    </div>
  </div>
</div>
<div class="formGroup px-2">
<div class="row">
<div class="col-lg-4 col-md-6">
  <div class="chamfer-box d-flex justify-content-center align-items-center"> General Information </div>
</div>
<div class="col-lg-2 col-md-6">
  <span style="background-color: #BAB9B7; border-radius: 4px;" class="px-2 py-1">Choose PO</span>
</div>
<div class="col-lg-2 col-md-3">
  <!-- <div class="form">  
  </div> -->
  <input class="form-control form-control-sm grayForm" type="text"  aria-label=".form-control-sm example">
</div>
<div class="col-lg-2 col-md-3">
  <!-- <div class="redForm">  
    <p style="color: white;">Apply to POC</p>
  </div> -->
  <input class="form-control form-control-sm redForm" type="text"  aria-label=".form-control-sm example" placeholder="Apply to POC">
</div>
<div class="col-lg-2 col-md-3">
  <!-- <div class="form">  
  </div> -->
  <input class="form-control form-control-sm grayForm" type="text"  aria-label=".form-control-sm example">
</div>
 </div>

 <!-- 2nd row -->
<div class="row">
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
 <div class="col-lg-2 col-md-4">
    <label for="">Choose Status</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
  </div>
  <div class="col-lg-2 col-md-4 d-flex">
    <div class="col-lg-10 ">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
    </div>
    <div class="col-lg-2 col-md-4 mt-4 mx-1">
      <i class="fa-solid fa-magnifying-glass px-2 py-2 lightGray"  style=" border-radius: 4px;"></i>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 d-flex">
    <div class="col-lg-10 ">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
    </div>
    <div class="col-lg-2 col-md-4 mt-4 mx-1">
      <i class="fa-solid fa-magnifying-glass px-2 py-2 lightGray"  style=" border-radius: 4px;"></i>
    </div>
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm grayForm" type="text"  aria-label=".form-control-sm example">
  </div>

</div>

<!-- 3rd row -->
 <div class="row">
  <div class="col-lg-4 col-md-6">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>

  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm grayForm" type="text"  aria-label=".form-control-sm example">
  </div>

 </div>


 
 <!-- 4th row -->
 <div class="row">
  <div class="col-lg-4 col-md-6">
    <label for="">Status</label>
    <input class="form-control form-control-sm " type="text"  aria-label=".form-control-sm example">
  </div>

  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="date"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm grayForm" type="text"  aria-label=".form-control-sm example">
  </div>

 </div>

 <!-- 5 th row -->
<div class="row">
  <div class="col-lg-4 col-md-4 d-flex">
    <div class="col-lg-10 ">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
    </div>
    <div class="col-lg-2 col-md-4 mt-4 mx-4">
      <i class="fa-solid fa-magnifying-glass px-3 py-2 lightGray"  style=" border-radius: 4px;"></i>
    </div>
  </div>

  <div class="col-lg-2 ">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Check</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm grayForm" type="text"  aria-label=".form-control-sm example">
  </div>
 </div>

 <!-- 6th row -->
  <div class="row">
  <div class="col-lg-2 col-md-6">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>

  <div class="col-lg-2 col-md-4 d-flex">
    <div class="col-lg-10 ">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
    </div>
    <div class="col-lg-2 col-md-4 mt-4 mx-1">
      <i class="fa-solid fa-magnifying-glass px-2 py-2 lightGray"  style=" border-radius: 4px;"></i>
    </div>
  </div>

  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm grayForm" type="text"  aria-label=".form-control-sm example">
  </div>

 </div>

 <!-- 7th row -->
 <div class="row">
  <div class="col-lg-4 col-md-6">
    <label for="">Lorem I</label>
    <input class="form-control form-control-sm lightGray " type="text"  aria-label=".form-control-sm example">
  </div>

  <div class="col-lg-2 col-md-4">
    <label for="">Status</label> <br>
    <i class="fa-solid fa-toggle-off"></i>
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label> <br>
   <i class="fa-solid fa-toggle-off"></i>
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label> <br>
    <i class="fa-solid fa-toggle-off"></i>
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm grayForm" type="text"  aria-label=".form-control-sm example">
  </div>

 </div>

 <!-- 8th row -->
<div class="row">
  <div class="col-lg-4 col-md-6">
    
  </div>

  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label> <br>
   <i class="fa-solid fa-toggle-off"></i>
  </div>

 </div>

 <!-- 9 row -->
<div class="row">
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="date"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="date"  aria-label=".form-control-sm example">
  </div>

  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
  </div>
  <div class="col-lg-2 col-md-4 my-4">
    <input type="radio"> <label for=""><p>Purchase</p></label>
    <input type="radio" class="mx-2"> <label for=""><p>Planning</p></label>
  
  </div>
  <div class="col-lg-2 col-md-4">
    <label for="">Status</label>
    <input class="form-control form-control-sm grayForm" type="text"  aria-label=".form-control-sm example">
  </div>

 </div>
</div>
<!-- Box Show -->
<div class="row px-2 ">
  <div class="col-lg-3 ">
    <div class="box">
      <span class="topText px-2 py-1">Send PO</span> <br>
      <input class="form-check-inputv mx-1" type="radio" name="flexRadioDefault" id="flexRadioDefault1"><label for="" >Semd Mail</label>
       <input class="form-check-inputv mx-1" type="radio" name="flexRadioDefault" id="flexRadioDefault1"><label for="">Export</label>
        <input class="form-check-inputv mx-1" type="radio" name="flexRadioDefault" id="flexRadioDefault1"><label for="">Call</label>
        <div class="my-2">
          <button class="mx-2" style="color: white;">Attach File</button>
          <button class="mx-2">Submit</button>
        </div>
        <p class="mb-0 mx-2">Agent Name :</p>
        <p class="mx-2">Delivery Address :</p>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="box px-2">
      <span class="topText px-2 py-1">Send PO</span> <br>
      <label for="">Date</label>
      <input class="form-control form-control-sm lightGray" type="date"  aria-label=".form-control-sm example">
      <label for="">Remarks</label>
      <input type="text" style="height: 6em; width: 100%;">
        <div class="my-2">
          <button class="mx-2" style="color: white;">Attach File</button>
          <button class="mx-2">Submit</button>
        </div>
        
    </div>
  </div>
  <div class="col-lg-3">
    <div class="box">
      <span class="topText px-2 py-1">Send PO</span> <br>
      <span class="mx-2 my-2" style="background-color: yellow;">Hello world</span>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="box px-2">
      <span class="topText px-2 py-1">Send PO</span> <br>
      <label for="">Date</label>
      <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
       <label for="">Date</label>
      <input class="form-control form-control-sm lightGray" type="date"  aria-label=".form-control-sm example">
       <label for="">Date</label>
      <input class="form-control form-control-sm lightGray" type="text"  aria-label=".form-control-sm example">
      
        <div class="my-2">
          <button class="mx-2" style="color: white;">Attach File</button>
          <button class="mx-2">Submit</button>
        </div>
        
    </div>
  </div>
</div>


  </div>
</div>
